


<!-- *************************** book : 공통 (FOOTER) START  ******************  -->
{% load static%}
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <footer class="footer">
    <div class="container">
      <p class="author">Copyright &copy; 김민재/유창호/정수경/최창훈</p>
    </div>
  </footer>

  <!-- core JavaScript -->
<!--  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>-->


</body>

</html>
<!-- *************************** book : 공통 (FOOTER) END  ******************  -->