<!-- *************************** book : 공통 (HEADER) START  ******************  -->

<!DOCTYPE html>
{% load static%}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pobica's Story</title>
 <!--    reset.css   -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/basic.css'%}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>


</head>

<body>
  <!--------------- book: 타이틀  --------------->

<!--  <h1 class="site-heading text-center text-white d-none d-lg-block">-->
<!--    <span class="site-heading-lower">book</span>-->
<!--  </h1>-->
  <!--------------- book: navi bar  --------------->
 <header class="header">
      <div id="bg">
        <img src="{% static 'src/pobica2.jpg'%}" />
      </div>
      <div class="logo">
        <img src="{% static 'src/pobica.jpg'%}" />
      </div>
      <div class="menus">
        <div class="menu">menu1</div>
        <div class="menu">menu2</div>
        <div class="menu">menu3</div>
        <div class="menu">menu4</div>
        <div class="menu">menu5</div>
      </div>
      <div class="info__box">
        <!-- <div class="nickname">nickname</div> -->
          {% if users.is_active %}
          <div class="login-active">
              <a href="#"><label class="username">users.name</label></a>
              <a href="{% url 'logout' %}"><label class="logout">Logout</label></a>
              <a href="#"><label class="mypage">My Page</label></a>
          </div>
          {% else %}
          <div class="logged-out">
              <a href="{% url 'login' %}"><label class="login">Login</label></a>
          </div>
          {% endif %}

      </div>

     <script>
<!--          $(document).ready(function() {-->
<!--              var username = '<%=session.getAttribute('user_id')%>';-->
<!--console.log(username)-->
<!--              if(username != 'null') {-->
<!--                $('login-active').show();-->
<!--                $('logged-out').hide();-->
<!--                $('username').val(username);-->
<!--              }-->
<!--              else {-->
<!--                $('login-active').hide();-->
<!--                $('logged-out').show();-->
<!--              };-->
<!--          });-->


      </script>



 </header>



<!-- *************************** book: 공통 (HEADER) END  ******************  -->



