
{% include 'title.html' %}
{% load static %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">

<!--<style>-->
<!--    style 추가 여기에-->
<!--</style>-->

{% include 'header.html' %}

<!-- *************************** book : 화면 START *************************  -->


<div class="container-login">

    <div class="row">
        <h4>로그인</h4>
    </div>

    <div class="container-form">

        <form method="post" class="form" action="">
            {% csrf_token %}

            <table class="table-form">
                {{ form.as_table }}
            </table>

            <div class="btn-submit">
                <input type="submit" class="btn-form" value="로그인"/>
            </div>
        </form>

    </div>

</div>

<script>

</script>


<!-- *************************** book : 화면 END ***************************  -->

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script  src="{% static 'js/drag.js'%}"></script>

{% include 'footer.html' %}