<!DOCTYPE html>
{% load static%}
{% include 'header.html' %}

<!-- *************************** book : 화면 START *************************  -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{% static 'css/style2.css'%}" rel="stylesheet">


<!--이거 css/style2.css에 넣어주세요!(protection 걸려있네요)-->
<style>

.list-no-item{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: auto;
  padding: 10px;
  padding-bottom: 13px;
  color: white;
 }

</style>


</head>

<body>
  <div class="container">
    <div class="left">
      <div class="left-one">
        <div class="audios">
          <div class="container-male">
            <div class="top-2" name="audio bar">
              <audio id="audio-male" controls>
                <source src="{% static 'audio/book_fina.wav' %}">
              </audio>
            </div>
          </div>

          <div class="container-female hidden">

            <div class="top-2" name="audio bar">
              <audio id="audio-female" controls>
                <source src="{% static 'audio/book_final.wav' %}">
              </audio>
            </div>
          </div>
        </div>


        <div class="bottom">

            <div class="bottom-1" name="speakers-grp">
              <button class="btn-male clicked">남자목소리</button>
              <button class="btn-female">여자목소리</button>
            </div>

        </div>
      </div>

      <div class="box"><br>
        {% if contents %}
          {%  for content in  contents   %}

              {{content.text}}
          {%    endfor    %}
        {% else %}
          <p>  데이터가 존재하지 않습니다. </p>
        {% endif %}
      </div>
    </div>
    <div class="right">
      <div class="container-list">
        <div class="top-list">
          <h3>나의 동화책 모음</h3>
        </div>
        <br>

<!--          login session id 받아서 BookTb user_id 일치하는 것만 표시-->

          <form class="get-name" action="{% url 'bookList' %}" method="post">
          {% csrf_token %}
              <div class="book-list">
                {%  for book in books  %}
                    {% if book.book_name %}
                        <div class="list-item">

                            <button class="getBtn" type="submit" name="getBookName" value="{{book.book_name}}">{{book.book_name}}</button>
                            <div class="btns">
                                <a href="#" class="editTitle"><span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span></a>
                                <a href="{% url 'delete' pk=book.pk %}" class="deleteBook"><span><img class="delBtn" src="{% static 'src/delete.png' %}"></span></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-no-item">
                            <div class="btns">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

              </div>
          </form>


        <div class="delete-later">

        </div>
      </div>
    </div>
  </div>



    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>

    <script>

        $(document).ready( function() {
            $('button.btn-male').click( function(){
                $('div.container-female').hide();
                $('div.container-male').show();
                $(this).addClass('clicked');
                $('.btn-female').removeClass('clicked');
                $('#audio-female').get(0).pause();
                $('#audio-female').get(0).currentTime = 0;
            });
            $('button.btn-female').click( function(){
                $('div.container-male').hide();
                $('div.container-female').show();
                $(this).addClass('clicked');
                $('.btn-male').removeClass('clicked');
                $('#audio-male').trigger('pause');
                $('#audio-male').get(0).currentTime = 0;
            });
        });

    </script>

</body>




</html>





<!-- *************************** book : 화면 END ***************************  -->
  {% include 'footer.html' %}

