<!DOCTYPE html>
{% load static%}
{% include 'header.html' %}

<!--  page1에 적용하는 css-->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
  </head>

<!-- *************************** book : 화면 START *************************  -->

    <div class="main">
      <div class="ment">동화책을 올려주세요 !!!</div>

      <!-- 데이터 전송 -->
<!--      <form class="file-upload"  action="{% url 'upload' %}" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->

<!--        <div class="drop-zone">-->
<!--          <div class="btn btn-default btn-file">-->
<!--            <div class="icon"><i class="fas fa-download"></i></div>-->

<!--            <input type="file" id="file" name="text" />-->
<!--          </div>-->
<!--          <div class="info">Click or Drag</div>-->
<!--        </div>-->
<!--        <div class="submit"><input type="submit" value="음성변환" /></div>-->
<!--      </form>-->
      <!-- 데이터 전송 -->
      <form class="file-upload"  action="{% url 'upload' %}" method="post" enctype="multipart/form-data" onsubmit="return loginCheck();">
        {% csrf_token %}
        <input type="file" id="files" name="text" />
<!--        BookTb의 book_name으로 동화제목 저장 필요-->
        <input type="text" id="bookname" name="bookname"/>
        <div class="submit"><input type="submit" value="음성변환" /></div>

      </form>



    </div>

<!-- *************************** book : 화면 END ***************************  -->
  {% include 'footer.html' %}
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script  src="{% static 'js/drag.js'%}"></script>
  <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>

  <script>
    function loginCheck(){
      if({{username}}){
        console.log(1)
        return True;
      }
      else{
        alert("로그인이 필요합니다");
        console.log(2)
        return False;
      }
    }
  <!--        loginCheck()-->

  </script>
