<!DOCTYPE html>
{% load static%}
{% include 'header.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AudioBook</title>
<!--    reset.css   -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
<!--  page1에 적용하는 css-->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
  </head>



    <div class="main">
      <div class="ment">동화책을 올려주세요 !!!</div>
      <!-- 데이터 전송 -->
      <form class="file-upload" action="page2.html" method="POST">
        <div class="drop-zone">
          <div class="btn btn-default btn-file">
            <div class="icon"><i class="fas fa-download"></i></div>

            <input type="file" id="file" />
          </div>
          <div class="info">Click or Drag</div>
        </div>
        <div class="submit"><input type="submit" value="음성변환" /></div>
      </form>
      <!-- 데이터 전송 -->
    </div>




</body>
  {% include 'footer.html' %}
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script  src="{% static 'js/drag.js'%}"></script>
</html>
