<!DOCTYPE html>
{% load static%}
{% include 'header.html' %}

<!-- *************************** book : 화면 START *************************  -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>

<body>
  <div class="container">
    <div class="left">
      <div class="left-one">
        <div class="audios">
          <div class="container-male">
            <div class="top-2" name="audio bar">
              <audio controls>
                <source src="{% static 'src/sample_audio_1.mp3' %}">
              </audio>
            </div>
          </div>

          <div class="container-female hidden">

            <div class="top-2" name="audio bar">
              <audio controls>
                <source src="{% static 'src/sample_audio_2.mp3' %}">
              </audio>
            </div>
          </div>
        </div>


        <div class="bottom">

            <div class="bottom-1" name="speakers-grp">
              <button class="btn-male clicked">남자목소리</button>
              <button class="btn-female">여자목소리</button>
            </div>

        </div>
      </div>

      <div class="box"><br>
        {% if contents %}
          {%  for content in  contents   %}

              {{content.text}}
          {%    endfor    %}
        {% else %}
          <p>  데이터가 존재하지 않습니다. </p>
        {% endif %}
      </div>
    </div>
    <div class="right">
      <div class="container-list">
        <div class="top-list">
          <h3>나의 동화책 모음</h3>
        </div>
        <br>
        <div class="book-list">
            <div class="list-item">
              빨간모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              주황모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              노란모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              초록모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              파란모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              남색모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              보라모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              빨간모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              주황모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              노란모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              연두모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              하늘모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              황금모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>
            <div class="list-item">
              빨간모자
              <div class="btns">
                <span><img class="editBtn" src="{% static 'src/edit.png' %}" ></span>
                <span><img class="delBtn" src="{% static 'src/delete.png' %}"></span>
              </div>
            </div>

        </div>
      </div>
    </div>

</div>

<script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
<script>

    // 남자, 여자 전환될 때 소리 자동으로 멈추게 하기(changeEvent&evenListner)
    // 버튼 색깔 다르게 하기

        $(document).ready( function() {
            $('button.btn-male').click( function(){
                $('div.container-female').hide();
                $('div.container-male').show();
                $(this).addClass('clicked');
                $('.btn-female').removeClass('clicked');
            });
            $('button.btn-female').click( function(){
                $('div.container-male').hide();
                $('div.container-female').show();
                $(this).addClass('clicked');
                $('.btn-male').removeClass('clicked');
            });
        });


    </script>

</body>




</html>





<!-- *************************** book : 화면 END ***************************  -->
  {% include 'footer.html' %}

