{% include 'title.html' %}
{% load static %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">

<!--<style>-->
<!--    style 추가 여기에-->
<!--</style>-->

{% include 'header.html' %}
<!-- *************************** book : 화면 START *************************  -->



<div class="container">

    <div class="row">
        <h4>회원가입</h4>
    </div>

    <div class="container-form">

        <form method="post" class="form" autocomplete="off">
            <!--    placeholder 쓸까요?-->
            {% csrf_token %}
            <table class="table-form">
                {{form.as_table}}
            </table>

            <div class="btn-submit">
                <input type="submit" class="btn-form" value="제출하기"/>
            </div>

        </form>


    </div>

</div>



<!-- *************************** book : 화면 END ***************************  -->

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script  src="{% static 'js/drag.js'%}"></script>
{% include 'footer.html' %}
