

/* @media screen and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
} */

* {
  box-sizing: border-box;
}

body {
  color: aliceblue;
  font-size: 25px;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.8;
  /* animation: fadeIn 0.5s linear;  */
}

#bg img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 20px;
}

.logo img {
  border-radius: 30%;
  padding-left: 20px;
  font-size: 10px;
  width: 70px;
}

.info__box {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
  margin-right: 20px;
  font-size: 22px;
}

.menus {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 50px;
  align-items: center;
  font-size: 22px;
}