

.drop-zone {
  border: dashed 4px rgb(86, 119, 244, 0.8);
  position: absolute;
  top: 15%;
  width: 40%;
  height: 70%;
}

.drop-zone-dragenter,
.drop-zone-dragover {
  border: 10px solid blue;
}

.file-upload {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 30%;
  top: 65%;
  left: 20%;
  background-color: rgb(255, 255, 255, 0.2);
  color: rgb(86, 119, 244, 0.8);
}

.btn-file {
  position: relative;
  overflow: hidden;
  height: 70%;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  /* filter: alpha(opacity=0); */
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 85px;
  padding: 10px;
  color: rgb(86, 119, 244, 0.8);
}

.info {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  color: rgb(86, 119, 244, 0.6);
  font-weight: bold;
}

.ment {
  font-size: 20px;
  background: rgb(86, 119, 244, 0.6);
  padding: 13px;
  border-radius: 20rem;
  position: absolute;
  width: 240px;
  height: 40px;
  top: 53%;
  left: 40%;
  font-weight: bold;
  box-shadow: 0 2px #666;
}

.ment:after {
  bottom: 100%;
  transform: translate(-1px, 0px);
  left: 15%;
  border: solid;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgb(86, 119, 244, 0.6);
  border-width: 11px;
}

.submit {
  position: absolute;
  left: 75%;
  top: 40%;
}

.submit input {
  font-size: 15px;
  width: 100px;
  height: 50px;
  box-shadow: 0 1px #666;
  border-radius: 10px;
  cursor: pointer;
  margin: 4px;
  background-color: rgb(86, 119, 244, 0.6);
  color: white;
}

.submit input:active {
  background-color: aqua;
  transform: translateY(4px);

}

.footer{
    position: absolute;
    top: 97% ;
    left: 60%;
    font-size: 20px;
    height: 10px;
}
